<%- include("../partials/header") %>



<div class="container">
    
	<form action="/articles" method="POST">
		<input type="text" name="article[title]" placeholder="title">
		<input type="text" name="article[description]" placeholder="description...">
		<input type="submit" value="送出">
	</form>
	
	<% allarticles.forEach(function(article){ %>
	    
	    <h3>title: <%= article.title %></h3>
	    <h3>description: <%= article.description %></h3>
	    <h3>authorid: <%= article.authorid.username %></h3>
	    <h3>created: <%= article.created %></h3>
	    <h3>isedited: <%= article.isedited %></h3>
	    <h3>edited: <%= article.edited %></h3>
	    
	    <a href="/articles/<%= article._id %>/edit">edit</a>
	
	    <form action="/articles/<%= article._id %>?_method=delete" method="POST">
    	    <input type="submit" value="delete">
        </form>
		<hr>
	    <!-- comments -->

	<% }); %>
	
	
	
</div>



<%- include("../partials/footer") %>
