<% function UTC(x){ %>
<%     if(x){ %>
<%         return x.getTime() %>
<%     } %>
<% } %>


<%- include("../partials/header") %>

<div class="container">
    
	
	<% //sort %>
	<% alltreasures = alltreasures.sort(function (a, b) { %>
    <%     return (a.id > b.id ? 1 : -1); %>
    <% }); %>
	
	
	
	<% alltreasures.forEach(function(treasure){ %>
	    
	    <h6>_id: <%= treasure._id %></h6>
	    <h6>id: <%= treasure.id %></h6>
	    <h6>寶物名稱: <%= treasure.name %></h6>
	    <img src="<%= treasure.image %>">
	    <h6>描述: <%= treasure.description %></h6>
	    <h6>分類: <%= treasure.category %></h6>
	    <h6>價格: <%= treasure.price %></h6>
	    <h6>擁有者數量: <%= treasure.ownercount %></h6>
	    <h6>販賣中: <%= treasure.issold %></h6>
	    <h6>上架日期: <UTC><%= UTC(treasure.releasedate) %></UTC></h6>
	    <h6>是否推薦: <%= treasure.isrecommend %></h6>
	    <h6>是否熱銷: <%= treasure.ishotsold %></h6>
	    <h6>庫存: <%= treasure.stocks %></h6>

	    <form action="/shoppinglist/<%= treasure._id %>?_method=PUT" method="POST">
			<input type="number" name="shoppinglist[qty]" value="0">
	    	<input type="submit" value="放到購物車內">
	    </form>
	
		<hr>
	    <!-- comments -->

	<% }); %>
	
	
	
</div>



<%- include("../partials/footer") %>










    
