<%- include("../partials/header") %>



<div class="container">

	<h1>Here are all users:</h1>
	<% allusers.forEach(function(user){ %>
	    
	    <h3>username: <%= user.username %></h3>
	    <h3>password: <%= user.password %>(this would be salt and hash)</h3>
	    <h3>nicename: <%= user.nickname %></h3>
	    <h3>age: <%= user.age %></h3>
	    <h3>money: <%= user.cash %></h3>
	    <h3>location: <%= user.location %></h3>
	
	    <% user.shoppinglist.forEach(function(el){ %>
	    <h3><%= el.id %>,<%= el.qty %></h3>
		
	    <% });%>



	
	
	    <hr>
	<% }); %>
	
	
	
</div>

<%- include("../partials/footer") %>