<% var costsum = 0; %>
<% var costone = []; %>

<%- include("../partials/header") %>



<div class="container">

	<h1>親：<%= user.nickname %>，這是您的採購清單</h1>
	<% for(var i=0; i<user.shoppinglist.length; i++){ %>
	    <h5>
			<%= i %>:
			<shoppinglistitem><%= user.shoppinglist[i].id %></shoppinglistitem>
	        數量:<%= user.shoppinglist[i].qty %>
	    </h5><!-- 小計 -->
	
		
	    <form action="/shoppinglist/<%= user.shoppinglist[i].id %>?_method=DELETE" method="POST">
	    	<input type="number" name="shoppinglist[qty]"  value="0">
	    	<input type="submit" value="這些還回去架上">
	    </form>
	
	<% } %>
	<shoppinglistsum><!-- 合計 --></shoppinglistsum>

	
	
	
</div>

<%- include("../partials/footer") %>